body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background-color: #1f2937;
  display: flex;
}

.footer {
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.header {
  justify-content: space-around;
  align-items: center;
}

.left-header {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.right-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}
.header-link {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.top {
  display: flex;
  background-color: #1f2937;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding-bottom: 25px;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 0;
}

.title-subtext,
.image-container {
  font-size: 18px;
  color: #e5e7eb;
}

.image-container {
  background-color: grey;
  padding: 80px;
  text-align: center;
  margin-right: 250px;
}

.sign-up-button {
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 4px;
  border: none;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
}

.call-for-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.call-for-action-window {
  background-color: #3882f6;
  border-radius: 4px;
  color: #e5e7eb;
  display: flex;
  padding: 50px;
}



.sign-up-button-2 {
    border-color: #e5e7eb;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
}




.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB ;
    margin-bottom: 25px;
}
.quote-text {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    font-style: italic; 

}

.author {
    font-weight: bold;
}
